td{
    margin: 10px;
    padding: 20px;
    color: white;
    cursor: pointer;
}

.colr1{background-color: #E21717;}
.colr2{background-color: #383CC1;}
.colr3{background-color: #120E43;}
.colr4{background-color: #3DBE29;}
.colr5{background-color: #4DD637;}
.colr5{background-color: #1FAA59;}
.colr6{background-color: #02B290;}
.colr7{background-color: #E8BD0D;}
.colr8{background-color: #DDD101;}
.colr9{background-color: #C7C11A;}
.colr10{background-color: #F4CE6A;}
.colr11{background-color: #8D3DAF;}
.colr12{background-color: #E03B8B;}
.colr13{background-color: #0D0D0D;}
.colr14{background-color: #03C6C7;}
.colr15{background-color: #CAD5E2;}
.colr16{background-color: #758283;}
.colr17{background-color: #E07C24;}
.colr18{background-color: #6A1B4D;}
